<div class="container-absolute">
    <h2>Latest Articles</h2>
    <a class="rss-feed" alt="RSS" href="http://feeds.feedburner.com/html5rocks">RSS Feed</a>
    
    <ul class="list-boxes">
      
        
          <li class="list-boxes__item">
            <p>
              <span class="left">
                <span class="author" data-author_id="idogreen"><img src="http://html5rocks.com/static/images/profiles/75/idogreen.75.png" alt="Ido Green" title="Ido Green" width="60" height="60"></span>
              </span>

              <span class="right">
                <span class="title">
                  1. Help users checkout faster with Autofill
                </span>
                <!--span class="date">6/5</span -->
                <span class="description">Help users checkout faster with Autofill. We’ve found that by correctly using autocomplete attributes on your forms, users complete them up to 30% faster!</span>
              </span>

              <span class="clear"></span>
            </p>
          </li>
        

      
        
          <li class="list-boxes__item">
            <p>
              <span class="left">
                <span class="author" data-author_id="mattgaunt"><img src="http://html5rocks.com/static/images/profiles/75/mattgaunt.75.png" alt="Matt Gaunt" title="Matt Gaunt" width="60" height="60"></span>
              </span>

              <span class="right">
                <span class="title">
                  2. Notifying you of Changes to Notifications
                </span>
                <!--span class="date">5/22</span -->
                <span class="description">2 new API's have been added in Chrome 44 which makes using Notifications with push easier to work with and customise.</span>
              </span>

              <span class="clear"></span>
            </p>
          </li>
        

      
        
          <li class="list-boxes__item">
            <p>
              <span class="left">
                <span class="author" data-author_id="dutton"><img src="http://html5rocks.com/static/images/profiles/75/dutton.75.png" alt="Sam Dutton" title="Sam Dutton" width="60" height="60"></span>
              </span>

              <span class="right">
                <span class="title">
                  3. High performance video with hardware decoding
                </span>
                <!--span class="date">5/7</span -->
                <span class="description">Hardware video support brings efficient decoding to plugins as well as HTML5 video. Flash users should switch from the old style Video to the StageVideo object.</span>
              </span>

              <span class="clear"></span>
            </p>
          </li>
        

      
        
          <li class="list-boxes__item">
            <p>
              <span class="left">
                <span class="author" data-author_id=""><img src="http://html5rocks.com/static/images/profiles/75/.75.png" alt=" " title=" " width="60" height="60"></span>
              </span>

              <span class="right">
                <span class="title">
                  4. DevTools Timeline: Now Providing the Full Story
                </span>
                <!--span class="date">4/20</span -->
                <span class="description">We've upgraded the Timeline panel for Chrome DevTools to give developers more insight on their site’s runtime performance.</span>
              </span>

              <span class="clear"></span>
            </p>
          </li>
        

      
        
          <li class="list-boxes__item">
            <p>
              <span class="left">
                <span class="author" data-author_id="mattgaunt"><img src="http://html5rocks.com/static/images/profiles/75/mattgaunt.75.png" alt="Matt Gaunt" title="Matt Gaunt" width="60" height="60"></span>
              </span>

              <span class="right">
                <span class="title">
                  5. Permissions API for the Web
                </span>
                <!--span class="date">4/15</span -->
                <span class="description">The Permissions API gives you a central place to check the permission status of an API.</span>
              </span>

              <span class="clear"></span>
            </p>
          </li>
        

      
        
          <li class="list-boxes__item">
            <p>
              <span class="left">
                <span class="author" data-author_id="mattgaunt"><img src="http://html5rocks.com/static/images/profiles/75/mattgaunt.75.png" alt="Matt Gaunt" title="Matt Gaunt" width="60" height="60"></span>
              </span>

              <span class="right">
                <span class="title">
                  6. Cut and Copy Commands
                </span>
                <!--span class="date">4/15</span -->
                <span class="description">The support for cut and copy commands allows you to programmatically cut and copy selected text to the users clipboard</span>
              </span>

              <span class="clear"></span>
            </p>
          </li>
        

      
        
          <li class="list-boxes__item">
            <p>
              <span class="left">
                <span class="author" data-author_id="paulkinlan"><img src="http://html5rocks.com/static/images/profiles/75/paulkinlan.75.png" alt="Paul Kinlan" title="Paul Kinlan" width="60" height="60"></span>
              </span>

              <span class="right">
                <span class="title">
                  7. DOM Attributes now on the prototype chain
                </span>
                <!--span class="date">4/14</span -->
                <span class="description">Chrome is becoming in line with the spec. Check your sites if you are assuming the WebKit logic for attribute propagation</span>
              </span>

              <span class="clear"></span>
            </p>
          </li>
        

      
        
          <li class="list-boxes__item">
            <p>
              <span class="left">
                <span class="author" data-author_id="samthorogood"><img src="http://html5rocks.com/static/images/profiles/75/samthorogood.75.png" alt="Sam Thorogood" title="Sam Thorogood" width="60" height="60"></span>
              </span>

              <span class="right">
                <span class="title">
                  8. Simplified Concepts in Web Animations Naming
                </span>
                <!--span class="date">4/2</span -->
                <span class="description">In response to developer feedback, some upcoming features of Web Animations are being renamed.</span>
              </span>

              <span class="clear"></span>
            </p>
          </li>
        

      
        
          <li class="list-boxes__item">
            <p>
              <span class="left">
                <span class="author" data-author_id="mattgaunt"><img src="http://html5rocks.com/static/images/profiles/75/mattgaunt.75.png" alt="Matt Gaunt" title="Matt Gaunt" width="60" height="60"></span>
              </span>

              <span class="right">
                <span class="title">
                  9. Push Notifications on the Open Web
                </span>
                <!--span class="date">3/12</span -->
                <span class="description">Push messaging and notifications are landing in Chrome 42.</span>
              </span>

              <span class="clear"></span>
            </p>
          </li>
   
      
    </ul>
    <div class="clear"></div>
  </div>