    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="javascript:void(0);" class="btnOverlap">XML</a></li>
            <li><a href="javascript:void(0);" class="btnRegular">Regular</a></li>
            <li><a href="javascript:void(0);" class="btnAbsolute">Absolute</a></li>
        </ul>
        <h3 class="text-muted">Textsel</h3>
    </div>
