$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}




#appWrapper {
    padding: 10px;
    background: #eee;
    position: relative;
}



.list-boxes {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include clearfix;
}

.list-boxes__item {
    margin: 0;
    padding: 10px;
    width: 48%;

    .left {
        display: block;
        width: 25%;
        float: left;
    }

    .right {
        display: block;
        float: left;
        width: 70%;
    }

    .title {
        font-weight: bold;
    }

    .description {
        display: block;
    }
}
.list-boxes__item:nth-child(2n+1) {
    clear: left;
}


/* relative */


.container-regular {
    .list-boxes__item {
        width: 45%;
        float: left;
    }
}

.container-absolute {
    height: 1200px;
    .list-boxes__item {
        position: absolute;
        height: 180px;
        background: #ccc;
    }

    .list-boxes__item:nth-child(1) {
        top: 400px;
        left: 0;
    }
    .list-boxes__item:nth-child(2) {
        top: 600px;
        left: 50%;        
    }
    .list-boxes__item:nth-child(3) {
        top: 200px;
        left: 0;
    }
    .list-boxes__item:nth-child(4) {
        top: 200px;
        left: 50%;
    }
    .list-boxes__item:nth-child(5) {
        top: 600px;
        left: 0;
    }
    .list-boxes__item:nth-child(6) {
        top: 1000px;
        left: 30%;
    }
    .list-boxes__item:nth-child(7) {
        top: 400px;
        left: 50%;
    }
    .list-boxes__item:nth-child(8) {
        top: 800px;
        left: 50%;
    }
    .list-boxes__item:nth-child(9) {
        top: 800px;
        left: 0;
    }
}

.container-overlapping {
    .list-boxes__item {
    }
}


/* absolute */
