<div class="container-IS">
    <p>as XML (from IS) - each glyph as boxed span has position absolute in static word (glyps positioned to container)</p>

    <button type="button" class="txt-switcher btn">selectable</button>

    <div class="glyphs-container">
    </div>
</div>