<div class="container-IS">
    <h2>pdf 2 html</h2>

    <button type="button" class="txt-switcher btn">selectable</button>

    <div class="glyphs-container">






<!-- Begin inline CSS -->
<style type="text/css" >

.t {
	position: absolute;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	-o-transform: scale(0.25);
	-ms-transform: scale(0.25);
	z-index: 2;
	position:absolute;
	white-space:nowrap;
	overflow:visible;
}

#t1_1{left:244px;top:229px;}
#t2_1{left:290px;top:228px;}
#t3_1{left:303px;top:229px;}
#t4_1{left:138px;top:263px;}
#t5_1{left:602px;top:261px;}
#t6_1{left:615px;top:263px;}
#t7_1{left:138px;top:280px;}
#t8_1{left:138px;top:296px;}
#t9_1{left:138px;top:313px;}
#ta_1{left:138px;top:330px;}
#tb_1{left:138px;top:363px;}
#tc_1{left:138px;top:380px;}
#td_1{left:599px;top:380px;}
#te_1{left:138px;top:396px;}
#tf_1{left:138px;top:430px;}
#tg_1{left:138px;top:446px;}
#th_1{left:138px;top:463px;}
#ti_1{left:138px;top:513px;}
#tj_1{left:210px;top:513px;}
#tk_1{left:138px;top:547px;}
#tl_1{left:138px;top:563px;}
#tm_1{left:192px;top:563px;}
#tn_1{left:138px;top:597px;}
#to_1{left:138px;top:630px;}
#tp_1{left:702px;top:630px;}
#tq_1{left:138px;top:647px;}
#tr_1{left:339px;top:647px;}
#ts_1{left:138px;top:663px;}
#tt_1{left:138px;top:680px;}
#tu_1{left:138px;top:714px;}
#tv_1{left:442px;top:714px;}
#tw_1{left:138px;top:730px;}
#tx_1{left:138px;top:764px;}
#ty_1{left:138px;top:797px;}
#tz_1{left:138px;top:830px;}
#t10_1{left:138px;top:847px;}
#t11_1{left:138px;top:880px;}
#t12_1{left:154px;top:880px;}
#t13_1{left:138px;top:897px;}
#t14_1{left:294px;top:897px;}
#t15_1{left:516px;top:897px;}
#t16_1{left:604px;top:897px;}
#t17_1{left:138px;top:914px;}
#t18_1{left:242px;top:914px;}
#t19_1{left:538px;top:914px;}
#t1a_1{left:138px;top:930px;}
#t1b_1{left:138px;top:964px;}
#t1c_1{left:138px;top:981px;}
#t1d_1{left:138px;top:1014px;}
#t1e_1{left:162px;top:1014px;}
#t1f_1{left:138px;top:1030px;}
#t1g_1{left:138px;top:1064px;}
#t1h_1{left:138px;top:1081px;}
#t1i_1{left:463px;top:1081px;}
#t1j_1{left:138px;top:1097px;}

.s3_1{
	FONT-SIZE: 57px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	color: rgb(0,0,0);
}

.s6_1{
	FONT-SIZE: 57px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	color: rgb(0,0,0);
	FONT-WEIGHT: bold;
	FONT-STYLE: italic;
}

.s4_1{
	FONT-SIZE: 36px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	color: rgb(0,0,0);
}

.s5_1{
	FONT-SIZE: 57px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	color: rgb(255,0,0);
	FONT-WEIGHT: bold;
}

.s1_1{
	FONT-SIZE: 57px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	color: rgb(0,0,0);
	FONT-WEIGHT: bold;
}

.s2_1{
	FONT-SIZE: 36px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	color: rgb(0,0,0);
	FONT-WEIGHT: bold;
}

</style>
<!-- End inline CSS -->

<!-- Begin text definitions (Positioned/styled in CSS) -->
<div id="t1_1" class="t s1_1">The 17</div>
<div id="t2_1" class="t s2_1">th</div>
<div id="t3_1" class="t s1_1">Annual Entertainment Law Initiative Writing Competition </div>
<div id="t4_1" class="t s3_1">Thank you for requesting information about the GRAMMY Foundation</div>
<div id="t5_1" class="t s4_1">®</div>
<div id="t6_1" class="t s3_1">Entertainment Law Initiative </div>
<div id="t7_1" class="t s3_1">(ELI) Writing Competition. In its seventeenth year, ELI promotes discussion and debate on the most </div>
<div id="t8_1" class="t s3_1">compelling legal issues facing the music industry today. The initiative also promotes future careers in </div>
<div id="t9_1" class="t s3_1">entertainment law by seeking out the nation's top law students and giving them invaluable networking </div>
<div id="ta_1" class="t s3_1">and educational opportunities. </div>
<div id="tb_1" class="t s3_1">The writing contest challenges students to identify, research, and write an essay with a proposed </div>
<div id="tc_1" class="t s3_1">solution on a compelling legal issue confronting the music industry. </div>
<div id="td_1" class="t s3_1">A national panel of music law </div>
<div id="te_1" class="t s3_1">experts will judge the papers in a blind process and select five finalists. </div>
<div id="tf_1" class="t s3_1">The scholarship is co-sponsored by the American Bar Association (ABA). The winning essays will be </div>
<div id="tg_1" class="t s3_1">published by the GRAMMY Foundation, the ABA Forum on the Entertainment and Sports Industries, </div>
<div id="th_1" class="t s3_1">and a major law review or journal. </div>
<div id="ti_1" class="t s1_1">CONTEST</div>
<div id="tj_1" class="t s1_1">RULES</div>
<div id="tk_1" class="t s3_1">1. This contest is open to juris doctorate candidates currently enrolled at an ABA accredited law </div>
<div id="tl_1" class="t s3_1">school. </div>
<div id="tm_1" class="t s3_1">LLM and any other advanced degree candidates are not eligible. </div>
<div id="tn_1" class="t s3_1">2. Entrants must be an enrolled student as of January 1, 2015. </div>
<div id="to_1" class="t s3_1">3. All essays must be original works specifically written for the ELI Writing Competition. </div>
<div id="tp_1" class="t s3_1">Previously </div>
<div id="tq_1" class="t s3_1">published works are ineligible. </div>
<div id="tr_1" class="t s3_1">The submission of works previously written for academic purposes is </div>
<div id="ts_1" class="t s3_1">acceptable, provided that the work is edited to meet the guidelines of the competition and is not </div>
<div id="tt_1" class="t s3_1">identical to the prior academic work. </div>
<div id="tu_1" class="t s3_1">4. Co-authorship of the essay is not permitted. </div>
<div id="tv_1" class="t s3_1">Papers may be reviewed by law school faculty or </div>
<div id="tw_1" class="t s3_1">colleagues for editorial feedback, but such assistance may not rise to the level of co-authorship.  </div>
<div id="tx_1" class="t s3_1">5. Each author may submit only one entry.  </div>
<div id="ty_1" class="t s3_1">6. Previous winners and/or finalists are ineligible. </div>
<div id="tz_1" class="t s3_1">7. Entrants must identify research and write an essay with a proposed solution on a compelling legal </div>
<div id="t10_1" class="t s3_1">issue confronting the music industry.  </div>
<div id="t11_1" class="t s3_1">8.</div>
<div id="t12_1" class="t s1_1">Completed manuscripts and accompanying documents (to be defined below) must be </div>
<div id="t13_1" class="t s1_1">submitted via email to </div>
<div id="t14_1" class="t s5_1">eli_submissions@grammy.com</div>
<div id="t15_1" class="t s1_1">on or before </div>
<div id="t16_1" class="t s5_1">January 6, 2015 at 10am </div>
<div id="t17_1" class="t s5_1">PST (1pm EST)</div>
<div id="t18_1" class="t s1_1">. Late manuscripts will not be considered. </div>
<div id="t19_1" class="t s1_1">Hardcopy submissions will not be </div>
<div id="t1a_1" class="t s1_1">accepted.</div>
<div id="t1b_1" class="t s3_1">9. Manuscripts shall be no longer than 3,000 words not including endnotes/footnotes. Entrants must </div>
<div id="t1c_1" class="t s3_1">use The Bluebook: A Uniform System of Citation, for citation style.  </div>
<div id="t1d_1" class="t s3_1">10. </div>
<div id="t1e_1" class="t s6_1">Current contact information including address, phone number and email address must </div>
<div id="t1f_1" class="t s6_1">accompany the manuscript. </div>
<div id="t1g_1" class="t s3_1">11. Entrants' names shall not appear on the manuscript, but shall appear on a separate title page to be </div>
<div id="t1h_1" class="t s3_1">removed when a number is assigned to the entry. </div>
<div id="t1i_1" class="t s3_1">The title page should also contain a one or two </div>
<div id="t1j_1" class="t s3_1">sentence synopsis of the essay. </div>

<!-- End text definitions -->

<!-- Begin page background -->
<div id="pg1Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
<div id="pg1"><object width="935" height="1210" data="1/1.svg" type="image/svg+xml" id="pdf1" style="width:935px; height:1210px; background-color:white; -moz-transform:scale(1); z-index: 0;"></object></div>
<!-- End page background -->


    </div>
</div>