<div class="container-IS2">
    <p>as XML (from IS) - each glyph has position in absolut positioned word (words positioned in container, glyphs overflowed)</p>

    <button type="button" class="txt-switcher btn">selectable</button>

    <div class="glyphs-container">
    </div>
</div>