<div class="container-absolute">
    <p>XML (from IS) is not selectable, over it we have canvas that intercept touches and draw boxes</p>

    <button type="button" class="txt-switcher btn">selectable</button>

    <div class="glyphs-container">
    </div>
</div>