<div class="container-IS3">
    <p>as XML (from IS) - each glyph as text has position in absolut positioned word</p>

    <button type="button" class="txt-switcher btn">selectable</button>

    <div class="glyphs-container">
    </div>
</div>