<div class="container-IS">
    <h2>pdf 2 html</h2>

    <button type="button" class="txt-switcher btn">selectable</button>

    <div class="glyphs-container">



<style type="text/css" >
.t {
	position: absolute;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	-o-transform: scale(0.25);
	-ms-transform: scale(0.25);
	z-index: 2;
	position:absolute;
	white-space:nowrap;
	overflow:visible;
}
</style>


<!-- Begin inline CSS -->
<style type="text/css" >

#t1_1{left:659px;top:43px;}
#t2_1{left:36px;top:81px;}
#t3_1{left:36px;top:107px;}
#t4_1{left:248px;top:103px;}
#t5_1{left:99px;top:209px;}
#t6_1{left:317px;top:209px;}
#t7_1{left:551px;top:209px;}
#t8_1{left:41px;top:233px;}
#t9_1{left:252px;top:237px;}
#ta_1{left:453px;top:234px;letter-spacing:2px;}
#tb_1{left:562px;top:234px;letter-spacing:2px;}
#tc_1{left:673px;top:234px;}
#td_1{left:41px;top:257px;}
#te_1{left:252px;top:260px;}
#tf_1{left:453px;top:258px;letter-spacing:2px;}
#tg_1{left:562px;top:258px;letter-spacing:1px;}
#th_1{left:673px;top:258px;}
#ti_1{left:779px;top:258px;letter-spacing:2px;}
#tj_1{left:453px;top:282px;letter-spacing:2px;}
#tk_1{left:562px;top:282px;letter-spacing:2px;}
#tl_1{left:673px;top:282px;}
#tm_1{left:779px;top:282px;letter-spacing:2px;}
#tn_1{left:453px;top:306px;letter-spacing:1px;}
#to_1{left:562px;top:306px;letter-spacing:2px;}
#tp_1{left:673px;top:306px;}
#tq_1{left:779px;top:306px;letter-spacing:2px;}
#tr_1{left:453px;top:329px;letter-spacing:2px;}
#ts_1{left:562px;top:329px;letter-spacing:1px;}
#tt_1{left:673px;top:329px;}
#tu_1{left:779px;top:329px;}
#tv_1{left:453px;top:353px;letter-spacing:2px;}
#tw_1{left:562px;top:353px;letter-spacing:1px;}
#tx_1{left:673px;top:353px;}
#ty_1{left:779px;top:353px;letter-spacing:2px;}
#tz_1{left:453px;top:377px;letter-spacing:2px;}
#t10_1{left:562px;top:377px;letter-spacing:2px;}
#t11_1{left:673px;top:377px;letter-spacing:1px;}
#t12_1{left:779px;top:377px;letter-spacing:2px;}
#t13_1{left:453px;top:401px;letter-spacing:2px;}
#t14_1{left:562px;top:401px;letter-spacing:2px;}
#t15_1{left:673px;top:401px;}
#t16_1{left:779px;top:401px;letter-spacing:2px;}
#t17_1{left:453px;top:425px;letter-spacing:2px;}
#t18_1{left:562px;top:425px;letter-spacing:2px;}
#t19_1{left:673px;top:425px;}
#t1a_1{left:779px;top:425px;letter-spacing:2px;}
#t1b_1{left:453px;top:448px;letter-spacing:2px;}
#t1c_1{left:562px;top:448px;letter-spacing:2px;}
#t1d_1{left:673px;top:448px;}
#t1e_1{left:779px;top:448px;letter-spacing:2px;}
#t1f_1{left:453px;top:472px;letter-spacing:2px;}
#t1g_1{left:41px;top:495px;}
#t1h_1{left:252px;top:498px;}
#t1i_1{left:453px;top:508px;letter-spacing:1px;}
#t1j_1{left:562px;top:508px;letter-spacing:1px;}
#t1k_1{left:41px;top:519px;}
#t1l_1{left:41px;top:543px;}
#t1m_1{left:453px;top:556px;}
#t1n_1{left:504px;top:556px;}
#t1o_1{left:562px;top:556px;}
#t1p_1{left:612px;top:556px;}
#t1q_1{left:41px;top:567px;}
#t1r_1{left:41px;top:590px;}
#t1s_1{left:252px;top:605px;}
#t1t_1{left:453px;top:603px;letter-spacing:1px;}
#t1u_1{left:562px;top:603px;letter-spacing:2px;}
#t1v_1{left:673px;top:603px;}
#t1w_1{left:779px;top:603px;letter-spacing:1px;}
#t1x_1{left:41px;top:614px;}
#t1y_1{left:41px;top:638px;}
#t1z_1{left:453px;top:651px;}
#t20_1{left:504px;top:651px;}
#t21_1{left:41px;top:662px;}
#t22_1{left:36px;top:41px;}
#t23_1{left:36px;top:61px;}
#t24_1{left:248px;top:153px;}
#t25_1{left:427px;top:156px;}
#t26_1{left:523px;top:153px;}
#t27_1{left:252px;top:545px;}
#t28_1{left:252px;top:569px;}
#t29_1{left:252px;top:641px;}
#t2a_1{left:252px;top:665px;}
#t2b_1{left:36px;top:726px;}
#t2c_1{left:59px;top:726px;}
#t2d_1{left:36px;top:747px;}
#t2e_1{left:61px;top:747px;}
#t2f_1{left:36px;top:769px;}
#t2g_1{left:58px;top:769px;}
#t2h_1{left:36px;top:791px;}
#t2i_1{left:57px;top:791px;}
#t2j_1{left:36px;top:812px;}
#t2k_1{left:59px;top:812px;}
#t2l_1{left:36px;top:834px;}
#t2m_1{left:57px;top:834px;}
#t2n_1{left:36px;top:856px;}
#t2o_1{left:60px;top:856px;}
#t2p_1{left:36px;top:877px;}
#t2q_1{left:62px;top:877px;}

.s4_1{
	FONT-SIZE: 81px;
	FONT-FAMILY: BAAAAA-TimesNewRomanPS-BoldMT1;
	color: rgb(0,0,0);
}

.s1_1{
	FONT-SIZE: 63px;
	FONT-FAMILY: BAAAAA-TimesNewRomanPS-BoldMT1;
	color: rgb(0,0,0);
}

.s7_1{
	FONT-SIZE: 104px;
	FONT-FAMILY: CAAAAA-Arial-Black1;
	color: rgb(0,0,0);
}

.s3_1{
	FONT-SIZE: 81px;
	FONT-FAMILY: BAAAAA-TimesNewRomanPS-BoldMT1;
	color: rgb(0,0,255);
}

.s6_1{
	FONT-SIZE: 116px;
	FONT-FAMILY: CAAAAA-Arial-Black1;
	color: rgb(0,0,0);
}

.s5_1{
	FONT-SIZE: 81px;
	FONT-FAMILY: BAAAAA-TimesNewRomanPS-BoldMT1;
	color: rgb(0,128,0);
}

.s2_1{
	FONT-SIZE: 69px;
	FONT-FAMILY: BAAAAA-TimesNewRomanPS-BoldMT1;
	color: rgb(0,0,0);
}

.s9_1{
	FONT-SIZE: 63px;
	FONT-FAMILY: EAAAAA-TimesNewRomanPSMT1;
	color: rgb(0,0,0);
}

.s8_1{
	FONT-SIZE: 69px;
	FONT-FAMILY: DAAAAA-TimesNewRomanPS-BoldIta1;
	color: rgb(0,128,0);
}

</style>
<!-- End inline CSS -->

<!-- Begin embedded font definitions -->
<style id="fonts1" type="text/css" >

@font-face {
	font-family: DAAAAA-TimesNewRomanPS-BoldIta1;
	src :url("1/fonts/DAAAAA-TimesNewRomanPS-BoldIta.woff") format("woff");
}

@font-face {
	font-family: CAAAAA-Arial-Black1;
	src :url("1/fonts/CAAAAA-Arial-Black.woff") format("woff");
}

@font-face {
	font-family: BAAAAA-TimesNewRomanPS-BoldMT1;
	src :url("1/fonts/BAAAAA-TimesNewRomanPS-BoldMT.woff") format("woff");
}

@font-face {
	font-family: EAAAAA-TimesNewRomanPSMT1;
	src :url("1/fonts/EAAAAA-TimesNewRomanPSMT.woff") format("woff");
}

</style>
<!-- End inline CSS -->

<!-- Begin text definitions (Positioned/styled in CSS) -->
<div id="t1_1" class="t s1_1">Ważny od 02.01.2013 r.</div>
<div id="t2_1" class="t s2_1">70-631 Szczecin</div>
<div id="t3_1" class="t s2_1">tel. 91 4624845</div>
<div id="t4_1" class="t s3_1">ROZKŁAD JAZDY AUTOBUSÓW</div>
<div id="t5_1" class="t s4_1">Kierunek</div>
<div id="t6_1" class="t s4_1">Przez</div>
<div id="t7_1" class="t s4_1">Godziny odjazdu</div>
<div id="t8_1" class="t s4_1">DOLNA ODRA </div>
<div id="t9_1" class="t s2_1">Gryfino</div>
<div id="ta_1" class="t s4_1">04:40F</div>
<div id="tb_1" class="t s4_1">05:00F</div>
<div id="tc_1" class="t s4_1">05:30</div>
<div id="td_1" class="t s4_1">DOLNA ODRA</div>
<div id="te_1" class="t s2_1">Gryfino,Górny Taras</div>
<div id="tf_1" class="t s4_1">05:55F</div>
<div id="tg_1" class="t s4_1">06:10CL</div>
<div id="th_1" class="t s4_1">06:20 F</div>
<div id="ti_1" class="t s4_1">06:50F</div>
<div id="tj_1" class="t s4_1">07:20C</div>
<div id="tk_1" class="t s4_1">07:40F</div>
<div id="tl_1" class="t s4_1">08:20</div>
<div id="tm_1" class="t s4_1">08:55F</div>
<div id="tn_1" class="t s4_1">09:15CL</div>
<div id="to_1" class="t s4_1">09:35F</div>
<div id="tp_1" class="t s4_1">10:05 C</div>
<div id="tq_1" class="t s4_1">10:15F</div>
<div id="tr_1" class="t s4_1">10:50F</div>
<div id="ts_1" class="t s4_1">11:00CL</div>
<div id="tt_1" class="t s4_1">11:20 F</div>
<div id="tu_1" class="t s4_1">11:55</div>
<div id="tv_1" class="t s4_1">12:30F</div>
<div id="tw_1" class="t s4_1">12:50CL</div>
<div id="tx_1" class="t s4_1">13:00 F</div>
<div id="ty_1" class="t s4_1">13:30F</div>
<div id="tz_1" class="t s4_1">13:45C</div>
<div id="t10_1" class="t s4_1">14:15F</div>
<div id="t11_1" class="t s4_1">14:30 +</div>
<div id="t12_1" class="t s4_1">14:55F</div>
<div id="t13_1" class="t s4_1">15:10F</div>
<div id="t14_1" class="t s4_1">15:35L</div>
<div id="t15_1" class="t s4_1">16:10 F</div>
<div id="t16_1" class="t s4_1">16:20C</div>
<div id="t17_1" class="t s4_1">16:30F</div>
<div id="t18_1" class="t s4_1">16:55F</div>
<div id="t19_1" class="t s4_1">17:30 L</div>
<div id="t1a_1" class="t s4_1">18:10F</div>
<div id="t1b_1" class="t s4_1">18:20C</div>
<div id="t1c_1" class="t s4_1">19:20L</div>
<div id="t1d_1" class="t s4_1">20:00 L</div>
<div id="t1e_1" class="t s4_1">20:50L</div>
<div id="t1f_1" class="t s4_1">21:50F</div>
<div id="t1g_1" class="t s4_1">GRYFINO</div>
<div id="t1h_1" class="t s2_1">Daleszewo</div>
<div id="t1i_1" class="t s4_1">21:50Cm</div>
<div id="t1j_1" class="t s4_1">24:00Em*</div>
<div id="t1k_1" class="t s4_1">CENTRUM</div>
<div id="t1l_1" class="t s4_1">GRYFINO</div>
<div id="t1m_1" class="t s5_1">13:35</div>
<div id="t1n_1" class="t s4_1">S</div>
<div id="t1o_1" class="t s5_1">15:45</div>
<div id="t1p_1" class="t s4_1">S</div>
<div id="t1q_1" class="t s4_1">CENTRUM</div>
<div id="t1r_1" class="t s4_1">GRYFINO, </div>
<div id="t1s_1" class="t s2_1">Gryfino,Górny Taras </div>
<div id="t1t_1" class="t s4_1">13:20CL</div>
<div id="t1u_1" class="t s4_1">14:206</div>
<div id="t1v_1" class="t s4_1">18:50 F</div>
<div id="t1w_1" class="t s4_1">22:40Lm</div>
<div id="t1x_1" class="t s4_1">CENTR.NASIENNA</div>
<div id="t1y_1" class="t s4_1">GRYFINO, </div>
<div id="t1z_1" class="t s5_1">20:25</div>
<div id="t20_1" class="t s4_1">S</div>
<div id="t21_1" class="t s4_1">CENTR.NASIENNA</div>
<div id="t22_1" class="t s2_1">PKS SZCZECIN Sp. z o.o.</div>
<div id="t23_1" class="t s2_1">ul. Heyki 4</div>
<div id="t24_1" class="t s6_1">SZCZECIN,</div>
<div id="t25_1" class="t s7_1">d.a.</div>
<div id="t26_1" class="t s6_1">Linie Nr 1,1A ,1B</div>
<div id="t27_1" class="t s8_1">Szczecin,Pl.Kościuszki</div>
<div id="t28_1" class="t s8_1">Szczecin Podjuchy</div>
<div id="t29_1" class="t s8_1">Szczecin,Pl.Kościuszki</div>
<div id="t2a_1" class="t s8_1">Szczecin Podjuchy</div>
<div id="t2b_1" class="t s1_1">F - </div>
<div id="t2c_1" class="t s9_1">kursuje w dni robocze od poniedziałku do piątku</div>
<div id="t2d_1" class="t s1_1">C - </div>
<div id="t2e_1" class="t s9_1">kursuje w soboty, niedziele i święta</div>
<div id="t2f_1" class="t s1_1">S - </div>
<div id="t2g_1" class="t s9_1">kursuje w dni nauki szkolnej </div>
<div id="t2h_1" class="t s1_1">6 -</div>
<div id="t2i_1" class="t s9_1">kursuje w soboty /nie będące świętami/</div>
<div id="t2j_1" class="t s1_1">+ - </div>
<div id="t2k_1" class="t s9_1">kursuje w niedziele i święta</div>
<div id="t2l_1" class="t s1_1">* - </div>
<div id="t2m_1" class="t s9_1">nie kursuje z niedzieli na poniedziałek i dni poświąteczne</div>
<div id="t2n_1" class="t s1_1">L - </div>
<div id="t2o_1" class="t s9_1">nie kursuje 25-26.12., 01.01. i w dwa dni Świąt Wielkanocnych</div>
<div id="t2p_1" class="t s1_1">m - </div>
<div id="t2q_1" class="t s9_1">nie kursuje 24.12. i 31.12.</div>

<!-- End text definitions -->

<!-- Begin page background -->
<div id="pg1Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
<div id="pg1"><object width="935" height="1210" data="1/1.svg" type="image/svg+xml" id="pdf1" style="width:935px; height:1210px; background-color:white; -moz-transform:scale(1); z-index: 0;"></object></div>
<!-- End page background -->


    </div>
</div>