    <div>
        <ul class="nav nav-pills">
            <li><a href="javascript:void(0);" class="btn btnRegular">Regular</a></li>
            <li><a href="javascript:void(0);" class="btn btnIS">XML#1</a></li>
            <li><a href="javascript:void(0);" class="btn btnIS2">XML#2</a></li>
            <li><a href="javascript:void(0);" class="btn btnIS3">XML#3</a></li>
            <li><a href="javascript:void(0);" class="btn btnPdf2Html">pdf2html</a></li>
            <li><a href="javascript:void(0);" class="btn btnPdf2Html2">pdf2html#2</a></li>
            <li><a href="javascript:void(0);" class="btn btnAbsolute">simulated/XML</a></li>
        </ul>
    </div>
