    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="javascript:void(0);" class="btn btnRegular">Regular HTML</a></li>
            <li><a href="javascript:void(0);" class="btn btnIS">XML from IS</a></li>
            <li><a href="javascript:void(0);" class="btn btnAbsolute">Absolute</a></li>
        </ul>
        <h3 class="text-muted">Textsel</h3>
    </div>
