    <div>
        <ul class="nav nav-pills">
            <li><a href="javascript:void(0);" class="btn btnRegular">Regular</a></li>
            <li><a href="javascript:void(0);" class="btn btnIS">XML1</a></li>
            <li><a href="javascript:void(0);" class="btn btnIS2">XML2</a></li>
            <li><a href="javascript:void(0);" class="btn btnPdf2Html">pdf2html</a></li>
        </ul>
    </div>
